.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 1.5rem 2rem;
}
.links {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: end;
  align-items: center;
}
.links li:hover .links li:active {
  color: saddlebrown;
}
